<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jezz.dymdatasource.mapper.TbUserMapper">

    <select id="selectByUserId" resultType="com.jezz.dymdatasource.entity.TbUserDTO" parameterType="com.jezz.dymdatasource.entity.TbUserDTO">
        select * from tb_user where user_id = #{userId}
    </select>
</mapper>