<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jezz.mapper.OrderMapper">
    <insert id="save" parameterType="com.jezz.entity.Order">
        INSERT INTO t_order(order_id,user_id)
        VALUES
        (
        #{orderId},#{userId}
        )
    </insert>
    
    <select id="findAll" resultType="com.jezz.entity.Order">
    	select * from t_order
    </select>
</mapper>